<footer>
  <div>
    <div id="social-media">


      <a target="_blank" rel="noopener nofollow" href="https://x.com/DrywallKingston">
        <img src="/img/icons/twitter_blue.svg" alt="Twitter logo SVG image">
      </a>

      <a target="_blank" rel="noopener nofollow" href="https://www.pinterest.com/drywallkingston/">
        <img src="/img/icons/pinterest_blue.svg" alt="Pinterest logo SVG image">
      </a>

      <a target="_blank" rel="noopener nofollow"
        href="https://www.facebook.com/people/Drywall-Kingston-Earnanswers/61560891117055/">
        <img src="/img/icons/facebook_blue.svg" alt="Facebook logo SVG image">
      </a>

      <a target="_blank" rel="noopener nofollow" href="https://www.instagram.com/drywallkingston/">
        <img src="/img/icons/instagram_blue.svg" alt="Instagram logo SVG image">
      </a>

      <a target="_blank" rel="noopener nofollow" href="https://www.linkedin.com/company/drywall-kingston">
        <img src="/img/icons/linkedin_blue.svg" alt="Linkedin logo SVG image">
      </a>


      <!-- <a target="_blank" rel="noopener nofollow" href="mailto:drywallkingston@outlook.com" id="email">
        <img src="/img/icons/email_blue.svg" alt="email logo SVG image">
      </a> -->

      <a target="_blank" rel="noopener nofollow"
        href="mailto:drywallkingston@outlook.com?cc=J3ldrywall@gmail.com,j3lconstruction@gmail.com&subject=Drywall Kingston: Quote Request" id="email">
        <img src="/img/icons/email_blue.svg" alt="email logo SVG image">
      </a>

      <!-- <a target="_blank" rel="noopener nofollow"
        href="mailto:zouhirstoic@gmail.com?cc=earnanswers@outlook.com,zouhirbensmaia222@gmail.com&subject=Drywall Kingston: Quote Request" id="email">
        <img src="/img/icons/email_blue.svg" alt="email logo SVG image">
      </a> -->

    </div>


    <nav id="bottom">
      <!-- <a href="#/request-free-quote">Request free quote</a> -->
      <!-- <a href="#/tad">Terms and Conditions</a> -->
      <a href="/sitemap">Sitemap</a>
      <a href="/blog">Blog</a>
      <a href="tel:3434771480">
        +1 (343) 477 1480
      </a>
    </nav>
  </div>

</footer>