  <nav id="top">
    <a href="/">
      <img src="/img/logo_head2.png" alt="Image of the organization's logo.">
    </a>
    <!-- <a href="/about">About</a> -->
    <a href="/request-free-quote">Request free quote</a>
    <a target="_blank" href="https://calendly.com/drywallkingston/drywallkingston">
      Book a call
    </a>
    <a href="tel:3434771480">
      +1 (343) 477 1480
    </a>
    <!-- <span>+1 (343) 477 1480</span> -->
  </nav>